body {
  font-family: 'Nunito', sans-serif;
}

/* HERO SECTION CSS --> JOIN TEAM SNAP */
/* ------------------------------------ */
.bannerText {
  font-size: 3em;  /* 48px */
  letter-spacing:3px;
  font-weight:300;
}

#heroButton {
  background-color:#f9f222;
  padding-top:24px;
  padding-bottom:24px;
  padding-left:36px;
  padding-right:36px;

  text-transform:uppercase;
  font-weight:800;
  letter-spacing:2px;
  font-size:12px;
}
/* ------------------------------------ */

/* WHO WE ARE CSS */
#whoWeAreContainer {
  margin-top:4em;
  margin-bottom:4em;
}
#whoWeAreHeader {
  font-size:2em;  /* 16* 2 = 32px*/
  letter-spacing:1px;
  font-weight: 300;
}
#whoWeAreDescription {
  margin-top:24px;
  font-size:19px;
}

/* ------------------------------------ */

/* OUR BRANDS CSS */

.greySection {
  background-color:#f9f9f9;
  /*background-color:yellow;*/
}
img.ourBrandImages {
  width:100px;
  height:100px;
}

h2.ourBrandSubHeader {
  font-size:1em; /* 16px = 1em */
  font-weight:800;
  margin-top:10px;
  margin-bottom:10px;
}

/* ------------------------------------ */
/* FOOTER HERO SECTION CSS */

#footerSection {
  background-color:#f9f222;
}
